.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_banner{
    width: 105rem;
    padding: 0 10rem;
}

/*Móvil*/
@media (max-width: 1024px) {
    .banner{
        display: none;
        width: 30rem;
    }
  }

/*Tablet*/
@media ((max-width: 1400px) and (min-width: 1025px)) {
    .img_banner{
        width: 70rem;
        padding: 0;
    }
}
