.headerSecondPage{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin: 2rem 10rem;
}

.logoAlbumPage {
  width: 10rem;
  margin-right: 49.5rem;
  margin-bottom: 1rem;
}

.isotipo{
  display: none;
}

/*Móvil*/
@media (max-width: 1024px) {
  .logoAlbumPage{
    display: none;
  }

  .isotipo{
    display: flex;
    width: 5rem;
    margin-right: 9.5rem;
  }

  .headerSecondPage{
    align-items: center;
    justify-content: center;
    margin-left: 11.3rem;
    margin-top: 0.5rem;
  }
}

/*Tablet*/
@media ((max-width: 1400px) and (min-width: 1025px)) {
  .logoAlbumPage{
    width: 10rem;
    margin-right: 45rem;
    margin-bottom: 2.5rem;
  }

  .headerSecondPage{
    margin: 1.5rem 3rem;
  }
}
