.input-wrapper{
    background-color: white;
    width: 400px;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 200px;
    
  }
  
  input {
    background-color: transparent;
    border: 0px;
    height: 100%;
    margin-left: 20px;
    font-size: 1.2rem;
    outline: none;
    
    
  }

 .search-bar-container {
    padding-top: 5vh;
   
  }
  
  #search-icon{
    width: 50px;
    color:#0a0a0a
  }
  
  